<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<Properties>
		<Property name="log-path">C:\Logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="file-log" fileName="${log-path}/sanatorio-core.log"
			filePattern="${log-path}/sanatorio-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="[%5p] - %c{1}:%L %d{yyyy-MM-dd HH:mm:ss} - %m%n" />
			<SizeBasedTriggeringPolicy size="20" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p] - %c{1}:%L %d{yyyy-MM-dd HH:mm:ss} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
<!-- trace debug -->
		<Root level="trace">
			<appender-ref ref="console" />
			<appender-ref ref="file-log" />
		</Root>
	</Loggers>
</configuration>